.header{
    height: 90px;
    border-bottom: 1px solid #ccc;
    align-items: center;
}
.header__navbar{
    display: flex;
    align-items: center;
    height: 100%;
}
.navbar__logo{
    margin-left: 20px;;
    height: 50px;
}
.navbar__logo-icon{
    height: 100%;
}
.navbar__mid{
    height: 100%;
    flex: 1;
}
.navbar__search{
    display: flex;
    max-width: 750px;
    align-items: center;
    border-radius: 5px;
    background-color: #EDF0FF;
    height: 50px;
    margin-top: 16px;
    margin-left: 100px;
}
.navbar__category{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 10px;
}
.navbar__category-text{
    width: 100%;
    text-align: center;
    margin:auto;
    font-size: 1.4rem;
}
.material-symbols-outlined.navbar__category-icon{
    margin-left: 15px;
    cursor: pointer;
    border-right: 1px solid #ccc;
    margin-right: 10px;
    padding-top: 5px;
}

.navbar__search-input{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    font-size: 1.4rem;
}
.navbar__search-input-text{
    width: 100%;
    border: none;
    background-color: #EDF0FF;
}
.navbar__search-input-text:focus{
    outline: none;
}
.navbar__search-icon{
    cursor: pointer;
    background-color: var(--primary_color);
    color: white;
    height: 100%;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.navbar__search-icon.material-symbols-outlined{
    padding: 10px;
    
}
.navbar__trend{
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: 2px;
     font-size: 1.3rem;
      color: #666;
}
.navbar__trend-text{
    font-weight: 600;
    margin-right: 10px;
   
}
.navbar__trend-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin:0;
    padding:0;
   
}
.navbar__trend-item a{
    text-decoration: none;
    color: var(--neutral_color);
    margin-left: 15px;
}
.navbar__trend-item a:hover{
    color: var(--primary_color);
}
.navbar__right{
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 50px;
}
.navbar__notify, .navbar__cart, .navbar__user{
    margin-right: 20px;
    cursor: pointer;
    
}
.navbar__notify-link, .navbar__cart-link, .navbar__user-link{
    color: var(--neutral_color);
    position: relative;
}
.navbar__notify-count{
    position:absolute;
    background-color: #C45600;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: -16px;
    right: -4px;
    text-align: center;
    line-height: 13px;
    font-size: 10px;
    color: white;
   
}
.navbar__cart-count{
    position:absolute;
    background-color:#005AC2;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: -19px;
    right: -5px;
    text-align: center;
    line-height: 13px;
    font-size: 10px;
    color: white;
   
}

/* Slide */
.slide{
  background-color: #FAF8FF;  
  padding-bottom: 20px;

}
.slide__navbar{
    background-color: white;
}
.slide__navbar-list{
    display: flex;
    list-style: none;
    align-items: center;
}
.slide__navbar-item{
    display: flex;
    align-items: center;
    margin-right: 24px;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}
.slide__navbar-item .material-symbols-outlined {
    display: flex;
    align-items: center;
    line-height: 1;
    margin-right: 3px;
}
.material-symbols-outlined.flash_sale{
    color: #C45600;
}
.slide__navbar-item a{
    text-decoration: none;
    color: #666;
    display: flex;
    align-items: cente
}
.slide__bar{
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
}
.slide__bar-label{
    display: flex;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 8px 0 15px 3px;
}
.slide__bar-label .material-symbols-outlined{
    color: var(--primary_color);
    margin-right: 5px;
    font-weight: 600;
}
.slide__bar-item{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 2px 0;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 5px;
}
.slide__bar--item-icon{
    display: block;
    background-color: #DCE1FF;
    padding: 5px;
    border-radius: 5px;
    margin-right: 12px;
}
.material-symbols-outlined.slide__bar-show{
  margin-left: auto;
  font-size: 1.5rem;
   margin-right: 15px;
   font-weight: 600;
   color: #ccc;
   transition: transform linear 0.2s;
}
.slide__bar--item-logo.material-symbols-outlined{
    color:var(--primary_color);
    font-size: 2.4rem;
}
.slide__bar-item:hover{
    background-color: #FAF8FF;
    color: var(--primary_color);
}
.slide__bar-item:hover .slide__bar--item-icon{
     background-color: var(--primary_color);
}
.slide__bar-item:hover .slide__bar--item-logo{
    color: white;
}
.slide__bar-item:hover .slide__bar-show{
    transform: translateX(5px);
}
.slide__bar-footer{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 6px 0;
    background-color: #e9e3f7;
    color: var(--primary_color);
    border-radius: 5px;
}
.slide__bar-footer .material-symbols-outlined{
    margin-left: 8px;
}
.slide__bar-item-text{
    margin-top: 10px;
    font-size: 1.4rem;
    margin-left: 10px;
}
.slide__bar-vip{
    margin-left: auto;
    margin-right: 10px;
    font-size: 1.3rem;
    color: #C45600;
    font-weight: 700;
}

/* phần slide chính */
.slide__content{
        background: linear-gradient(
        135deg,
        #315EDC 0%,
        #416FE5 50%,
        #2D5DD5 100%
    );
    height: 100%;
    border-radius: 5px;
    display: flex;
}
.slide__content-left{
    position: relative;
    color: white;
    padding: 20px;
    height: 100%;
   
}
.slide__left-label{
    display: inline-block;
    position: relative;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 5px 14px 0px 23px;
    border-radius: 20px;
    color: #E9EEFF;
   background-color: rgba(255, 255, 255, 0.15);
}
.slide__left-label::after{
    content: "";
    position: absolute;
    background-color: #FFD0B8;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top:37%;
    left:10px;
}
.slider__left-text{
    font-size: 4.6rem;
    font-weight: 700;
    letter-spacing: -1.5px;
    word-spacing: -2px;
     margin-bottom: -10px;
}
.slider__left-text--sale{
    font-size: 4.6rem;
    font-weight: 700;
    letter-spacing: -1.5px;
    word-spacing: -2px;
   color: #FFDBCA;
}
.slider__left-text-sub{
    color: #DCE5FF;
    font-size: 1.4rem;
    line-height: 1.6;
    max-width: 400px;
}
.slider__left-button{
    display: flex;
    align-items: center;
    margin-top: 16px;
}
.slider__left-button-explore{
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #783200;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
    justify-self: center;
}
.slider__left-button-explore--text{
     margin: 2px 0px 2px 8px;
     font-size: 1.3rem;
    font-weight: 600;
}
.slider__left-button-explore--icon{
    margin: 2px 0px 2px 8px; 
    font-size: 1rem;
}
.slider__left-button-voucher{
    display: flex;
    align-items: center;
    border: none;
    padding: 13px 20px;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.12);
    color: white;
}
.slider__left-footer{
    position: absolute;
    bottom: 5%;
    display: flex;
   align-items: center;
}
.slider__left-footer--text{
    display: flex;
    align-items: center;
    margin-right: 8px;
    font-size: 1.1rem;
       color: #DCE5FF;
}
.slider__left-footer--icon{
    margin-right: 5px;
}
.slider__left-footer--dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.2) ;
    margin-right: 5px;
    margin-bottom: 5px;
}
.slide__content-right{
    display: flex;
    flex:1 ;
    margin: auto;
}
.slide__right-img--shoe{
    margin-top: 100px;
    width: 200px;
    height: 230px;
   z-index: 1;
}
.slide__right-img--shoe img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotate(12deg);
    border-radius: 13px;
}
.slide__right-img--phone{
    width: 300px;
    height: 350px;
}
.slide__right-img--phone img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotate(-3deg);
    border-radius: 15px;
}

.slide__footer{
    margin-top: 15px;
}
.slider__footer-benefits{
    background-color: white;
    padding: 6px;
    border-radius: 5px;
    
}
.slider__benefits-icon{
   display: flex;
  justify-content: center;
   
}
.slider__benefits-icon span{
  background-color: #DCE1FF;
  margin-top: 10px;
   padding: 12px;
  border-radius: 8px;
  color: var(--primary_color);
  transition: transform linear 0.1s;
}
.slider__benefits-icon .slider__benefits-icon-special{
    background-color: #FDE6D8; 
    color: #EA580C; 
}
.slider__footer-benefits:hover{
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}
.slider__footer-benefits:hover .slider__benefits-icon span{
    transform: scale(1.1);
}
.slider__footer-benefits:hover .slider__benerfits-text{
    color: var(--primary_color);
}
.slider__footer-benefits:hover .slider__benerfits-text--special{
    color: #EA580C;
}
.slider__benerfits-text{
    font-size: 1.3rem;
    text-align: center;
    color: var(--neutral_color);
    font-weight: 600;
    margin-top: 3px;
    margin-bottom: 1px;
}
.slider__benerfits-sub--text{
    font-size: 1.1rem;
    text-align: center;
    
}
/* body */
.body__flashsale{
    display: flex;
    background-color: white;
}
.body__flashsale-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}
.body__flashsale-left{
    display: flex;
    align-items: center;
}
.body__flashsale-left span{
    color: #EA580C; 

}
.flashsale__left-text{
    font-size: 2.3rem;
    font-weight: 600;
    color: var(--neutral_color);
    margin-right: 12px;
}
.flashsale__left-time{
    margin-bottom: 0;
    font-size: 1.2rem;
    color: #666;
    font-weight: 600;
    margin-right: 12px;
}
.flashsale__left-timebox{
    display: block;
    color: white;
    background-color: black;
    padding: 5px 8px;
    margin-right: 2px;
    margin-left: 2px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
}
.flashsale__right-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--primary_color);
}
/* flashsale sản phẩm */
.body__flashsale-product{
    position: relative;
    background-color: #EFEFFF;
    border-radius: 15px;
    padding-bottom: 2px;
    margin-bottom: 5px;
}
.flashsale__product-img{
    width: 90%;
    height: 200px;
    margin: auto;
    padding-top: 10px;
     overflow: hidden;
}
.flashsale__product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
   transition: transform linear 0.1s;
}
.flashsale__product-brand{
    margin-top: 5px;
    margin-left: 7px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary_color);
}
.flashsale__product-name{
    font-size: 1.4rem;
    margin-left: 7px;
    margin-bottom: 0;
    font-weight: 600;
     display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.flashsale__product-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flashsale__product-price{
    margin-left: 7px;
    color: #783200;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
}
.flashsale__product-oldprice{
     margin-left: 7px;
    font-size: 1.5rem;
    text-decoration: line-through;   
}
.flashsale__product-footer--addcart{
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: var(--primary_color) ;
    color: white;
    border-radius:5px ;
    padding:8px;
    cursor: pointer;
}
.body__flashsale-product:hover .flashsale__product-img img{
    transform: scale(1.05);
}
.body__flashsale-product:hover .flashsale__product-name{
    color: var(--primary_color);
}
.flashsale__product-footer--addcart:hover{
    background-color: #2573E6;

}
.body__flashsale-product:hover{
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}
.flashsale__product-sale{
    position: absolute;
    top: 8px;
    right:5px;
    padding: 3px 10px;
    background-color: #783200;
    color: white;
    border-radius: 25px;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}

/* category feature */
.body__voucher{
    background-color:#FAF8FF ;
}
.body__voucher-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.body__voucher-header-title{
    display: flex;
    align-items: center;
    color: var(--primary_color);
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 10px;
}
.body__voucher-header-title span{
    margin-right: 5px;
}
.body__voucher-header-name{
    font-size: 2rem;
    font-weight: 700;
}
.body__voucher-header--link{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--primary_color);
}
.body__voucher-code{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);;
}
.body__code-icon{
   color: #ea580c;
   background-color:#fde6d8;
   padding: 10px 12px;
   border-radius:5px;
   margin: 10px 0 10px 10px;
}
.body__code-content p{
    margin-left:6px;
    margin-bottom: 0;
    font-size: 1.3rem;
}
.body__code-name{
    font-weight:700;
}
.body__code-text{
    color:#6F778E;
    font-weight: 400;
}
.body__code-sub{
    color: #ea580c;
    font-weight: 500;
}
.body__code-save{
    margin-left: auto;
    margin-right: 15px;
}
.body__code-click{
    border: none;
    background-color: var(--primary_color);
     color: white;
     font-size: 1.2rem;
     font-weight: 600;
     padding: 4px 10px;
     border-radius: 10px;
}
.body__voucher-silder{
    margin-top: 10px;
    background: linear-gradient(135deg, #0137B1 0%, #1D57D9 100%);
    min-height: 200px;
    border-radius: 20px;
}
.body__silder-content{
    padding: 20px;
    padding-left: 10px;
}
.body__silder-name{
    font-size: 2.2rem;
    color: white;
    font-weight: 700;
}
.body__silder-sub--text{
    font-size: 1.3rem;
    color: rgba(255,255,255,0.75);
    margin-bottom: 10px;
}
.body__slider-link{
    text-decoration: none;
    padding: 5px 10px;
    background-color: white;
    color:  #0137B1;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 25px;
}
.body__voucher-slider-right{
    background: linear-gradient(135deg, #763000 0%, #AF622A 100%);
}
.body__slider-link--right{
    color: #763000;;
}